<% provide(:title, @user.name) %>
<%= render 'user_info' %>
<div class="btn-users-show">
  <% if @overtime && @overtime >= 1 %>
    <div class="red-group">
      <p><%= link_to  "【残業申請のお知らせ】", edit_overtime_notice_user_attendance_path(@user, @overtime), remote: true, class: "notice" %><span class="red_box"><%= "#{@overtime}件の通知があります"%></span></p>
    </div>
  <% else %>
    <p class="notice">【残業申請のお知らせ】</p>
  <% end %>

  <%= link_to "勤怠を編集",attendances_edit_one_month_user_path(date: @first_day),class: "btn btn-primary" %> &nbsp;
  <%= link_to "CSV出力", export_csv_users_path, class: "btn btn-primary" %>
  <%= link_to "勤怠修正ログ",attendances_edit_one_month_user_path(@user, @attendance),class: "btn btn-primary" %>
</div>
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="3">残業申請</th>
        <th rowspan="3">日付</th>
        <th rowspan="3">曜日</th>
        <th rowspan="3">出勤・退社登録</th>
        <th colspan="6">実績</th> 
        <th colspan="5">所定外勤務</th>
      </tr>

      <tr>
        <th colspan="2">出社</th>
        <th colspan="2">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2">時間外時間</th> 
        <th rowspan="2">業務処理内容</th> 
        <th rowspan="2">指示者確認㊞</th>
      </tr>
        
      <tr>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td>
            <%= link_to "残業申請", "#overtimeModal_#{day.id}", class: "btn btn-primary", data: { toggle: "modal" } %>
          </td> 
          <td><%= l(day.worked_on, format: :short) %></td>
          <td class="<%= weekday_classes(day.worked_on.wday) %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
          <td>
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td><%= day.started_at&.hour %></td>
          <td><%= day.started_at&.min %></td>
          <td><%= day.finished_at&.hour %></td>
          <td><%= day.finished_at&.min %></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <% str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
              <%= str_times %>
            <% end %>
          </td>
          <td><%= day.note %></td> <!-- 備考 -->
          <td><%= day.expected_finished_at.present? ? day.expected_finished_at.strftime('%H') : '' %></td>
          <td><%= day.expected_finished_at.present? ? day.expected_finished_at.strftime('%M') : '' %></td>
          <td></td> <!-- 時間外時間 -->
          <td><%= day.work_details.present? ? day.work_details : '' %></td>
          <td>
            <% if day.overtime_request_to.present? %>
              <% superior = User.find(day.overtime_request_to) %>
              <%= superior.name %>に残業申請中
            <% else %>
              
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">累計日数</td>
        <td colspan="6">総合勤務時間</td>
        <td colspan="4">累計在社時間</td>
        <td rowspan="2" colspan="2">所属長承認:<br/>
          <select name="superior">
            <option>上長A</option>
            <option>上長B</option>
          </select>
          <button class="btn btn-primary">申請</button>
        </td>
      </tr>
      <tr>
        <td colspan="3"><%= @attendances.count %></td>
        <td colspan="6"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <td colspan="4"><%= @total_working_hours %></td>
      </tr>
    </tfoot>
  </table>
</div>
<% @user.attendances.each do |attendance| %>
  <!-- Modal -->
  <div class="modal fade" id="overtimeModal_<%= attendance.id %>" tabindex="-1" aria-labelledby="overtimeModalLabel_<%= attendance.id %>" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 90%; width: 70%; max-height: 80%; height: 70%;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="overtimeModalLabel_<%= attendance.id %>">【残業申請】</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_for attendance, url: update_overtime_user_attendance_path(@user, attendance), method: :patch do |f| %>
            <%= f.hidden_field :overtime_status, value: 'pending' %>
            <table class="table table-bordered table-condensed table-hover" id="table-attendances">
              <thead>
                <tr>
                  <th>日付</th>
                  <th>曜日</th>
                  <th>終了予定時間</th>
                  <th>翌日</th>
                  <th>業務処理内容</th>
                  <th>指示者確認㊞</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= l(attendance.worked_on, format: :short) %></td>
                  <td><%= l(attendance.worked_on, format: '%a') %></td>
                  <td class="time-select-cell"><%= f.time_select :expected_finished_at, default: Time.current, minute_step: 15, required: true %></td>
                  <td><%= f.check_box :next_day %></td>
                  <td><%= f.text_area :work_details, class: 'textarea-work-details' %></td>
                  <td>
                    <% if current_user.name == "上長A" %>
                      <%= f.select :overtime_request_to, @supervisors.reject { |s| s.name == "上長A" }.collect { |s| [s.name, s.id] }, { prompt: "選択してください" }, class: 'select-instructor' %>
                    <% elsif current_user.name == "上長B" %>
                      <%= f.select :overtime_request_to, @supervisors.reject { |s| s.name == "上長B" }.collect { |s| [s.name, s.id] }, { prompt: "選択してください" }, class: 'select-instructor' %>
                    <% else %>
                      <%= f.select :overtime_request_to, @supervisors.collect { |s| [s.name, s.id] }, { prompt: "選択してください" }, class: 'select-instructor' %>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="modal-footer">
              <%= f.submit "変更を送信する", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>