<h1>拠点一覧</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th class="text-center">拠点番号</th>
      <th class="text-center">拠点名</th>
      <th class="text-center">勤怠種類</th>
    </tr>
  </thead>
  <tbody id="base-table-body">
    <% @base_stations.each do |base_station| %>
      <tr>
        <td class="text-center">
          <%= link_to '修正', '#editModal' + base_station.id.to_s, class: 'btn btn-primary', data: { toggle: 'modal' } %>
        </td>
        <td>
          <!-- Edit Modal -->
          <div class="modal fade" id="editModal<%= base_station.id %>" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title modal-title-centered" id="editModalLabel">拠点情報編集</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= form_with(model: @base_station, url: base_station_path(base_station), method: :patch, local: true) do |f| %>
                    <%= f.label :base_number, "拠点番号", class: "left-aligned-label" %>
                    <%= f.number_field :base_number, class: "form-control" %>
                    <%= f.label :base_name, "拠点名", class: "left-aligned-label" %>
                    <%= f.text_field :base_name, class: "form-control" %>
                    <%= f.label :attendance_type, "勤怠種類", class: "left-aligned-label" %>
                    <%= f.text_field :attendance_type, class: "form-control" %>
                    <%= f.submit "更新", class: "btn btn-primary btn-block" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td class="text-center"><%= link_to '削除', base_station_path(base_station.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-primary' %></td>
        <td class="text-center"><%= base_station.base_number %></td>
        <td class="text-center"><%= base_station.base_name %></td>
        <td class="text-center"><%= base_station.attendance_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addBase" aria-expanded="false" aria-controls="addBase">拠点情報の追加</button>

<div class="collapse" id="addBase">
  <div class="card card-body">
    <%= form_with(model: @base_station, url: base_stations_path, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :base_number, "拠点番号", class: "text-left" %>
        <%= f.number_field :base_number, class: "form-control text-left" %>
      </div>
    
      <div class="form-group">
        <%= f.label :base_name, "拠点名", class: "text-left" %>
        <%= f.text_field :base_name, class: "form-control text-left" %>
      </div>
    
      <div class="form-group">
        <%= f.label :attendance_type, "勤怠種類", class: "text-left" %>
        <%= f.text_field :attendance_type, class: "form-control text-left" %>
      </div>
    
      <%= f.submit "拠点の追加", class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
</div>